%p プロフィール編集ページ
.profile_avatar
  = image_tag @profile.avatar, class: 'profile_avatar'
.profile_edit_form
  = form_with(model: @profile, url: profile_path, method: 'put', local: true ) do |f|
    %div
      = f.label :avatar, '画像を選択'
    %div
      = f.file_field :avatar
    %div
      = f.submit '更新'