.container
  %p.task_edit_title Edit Task
  = form_with model: @task, url: board_task_path(board_id: @task.board_id,id: @task.id),method: 'put', local: true do |f|
    %div
      = f.label :image, 'Image', class: 'form_text '
    %div
      = f.file_field :image
    %div
      = f.label :title, 'Title', class: 'form_text '
    %div
      = f.text_field :title, class: 'form'
    %div
      = f.label :content, 'Description', class: 'form_text '
    %div
      = f.text_field :content, class: 'form'
    %div
      = f.label :deadline, 'deadline', class: 'form_text '
    %div
      = f.date_field :deadline, class: 'deadline_form'
    %div
      = f.submit 'Submit', class: 'btn btn-primary'