= link_to board_path(board) do
  .board
    .board_title
      = board.title
    = render 'commons/dropbtn', board: board
    .clear
    .board_content 
      = board.content
    .board_usericon
      = image_tag board.user.avatar_image
    .board_username
      = board.user.username
    
    .clear
    