= link_to board_path(board) do
  .board
    .board_title
      = board.title
    - if user_signed_in?
      .dropdown
        = image_tag '点.png', class: 'dropbtn'
        .dropdown_content
          = link_to '編集', edit_board_path(board), class: 'dropbtn_text'   
          = link_to '削除', board_path(board), data: { method: 'delete', confirm: '本当に削除してよろしいですか？' }, class: 'dropbtn_text'
    .clear
    .board_content 
      = board.content
    .board_usericon
      = image_tag board.user.avatar_image
    .board_username
      = board.user.username
    
    .clear
    