.container 
  %p.head_title Edit Board
  = form_with model: @board do |f|
    %div
      = f.label :title, 'Title', class: 'form_text'
    %div
      = f.text_field :title, class: 'form'
    %div
      = f.label :content, 'Description', class: 'form_text'
    %div
      = f.text_field :content, class: 'form'
    %div
      = f.submit 'Submit', class: 'btn'