.container
  %p.new_post_title New Board
  = form_with model: @board do |f|
    %div
      = f.label :title, 'Title', class: 'form_text'
    %div
      = f.text_field :title, class: 'form'
    %div 
      = f.label :Description, class: 'form_text'
    %div
      = f.text_area :content, class: 'form'
    %div
      = f.submit 'Submit', class: 'btn'